/* styles.css */
.App {
  font-family: sans-serif;
  text-align: left;
  padding: 20px;
}

img {
  width: 200px;
  height: 200px;
<<<<<<< HEAD
}

.TaskFormContainer {
  margin-top: 20px;
}

ListGroupItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.completedTask {
  text-decoration: line-through;
}

.Collapse {
  transition: height 0.3s ease;
  overflow: hidden;
}

.collapsing {
  height: 0 !important;
  overflow: hidden;
=======
  border-width: 10;
>>>>>>> 6abfb61cd51be1fa414cdd660101bfaa150d7894
}
